@import "./custom-media.css";

:root {
  --color-accent: 217, 91%, 60%;
  --color-gray-1: 224, 7%, 36%;
  --color-gray-2: 224, 6%, 77%;
  --color-gray-3: 224, 19%, 95%;
  --color-text: 220, 25%, 8%;
  --color-bg: 0, 0%, 100%;

  --box-shadow: 0 2px 8px hsl(var(--color-gray-3));

  --nav-height: 3.5rem;
  --mobile-toc-height: 3.5rem;
  --content-width: 45rem;
  --aside-width: 18.75rem;

  --text-base: 1rem;
  --text-small: 0.8125rem;

  --h1-font-size: 2em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.25em;
  --h4-font-size: 1.125em;
  --h5-font-size: 1em;
  --h6-font-size: 0.85em;
}

:root[data-theme="dark"] {
  --color-gray-1: 224, 6%, 77%;
  --color-gray-2: 224, 10%, 20%;
  --color-gray-3: 224, 8%, 15%;
  --color-text: 0, 0%, 90%;
  --color-bg: 224, 10%, 7%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html[data-theme="dark"] {
  color-scheme: dark;
}
html[data-theme="light"] {
  color-scheme: light;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
  padding: 0;
  font-size: 16px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: hsl(var(--color-text));
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

main {
  width: var(--content-width);
  max-width: calc(100% - 2em);
  padding: 3em 1em;
}

a {
  color: inherit;
}
a:hover {
  color: hsl(var(--color-accent));
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code {
  overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}
strong,
b {
  font-weight: 700;
}

textarea {
  width: 100%;
}
table {
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid hsl(var(--color-gray-3));
}

@media (--viewport-mobile) {
  body {
    font-size: 14px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
