.markdown {
  letter-spacing: 0.85pt;

  > :not(.title) {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(var(--background));
  }

  ul,
  ol {
    padding-left: 2em;
  }

  code,
  pre {
    letter-spacing: normal;
  }

  code {
    padding: 2px 5px;
    background-color: rgb(var(--background));
    border-radius: 2px;
  }

  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
  }

  blockquote {
    border-left: 4px solid var(--accent);
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    font-size: 1em;
  }
}
