---
import { useTranslations } from "../i18n/utils/use-translations";
import HeaderLink from "./header-link.astro";
import InternalLink from "./internal-link.astro";
import LanguageSelect from "./language-select.astro";
import SocialLinks from "./social-links.astro";
import ThemeSelect from "./theme-select.astro";

const t = useTranslations(Astro.currentLocale);

const isActive = (href: string) => {
  if (href === "/") {
    return true;
  }

  const slug = Number.parseInt(href.split("/")[1]);

  return !Number.isNaN(slug);
};
---

<header>
	<nav>
		<h2><InternalLink href="/">{t("title")}</InternalLink></h2>
		<div class="nav-links">
			<HeaderLink href="/" isActive={isActive}>{t('nav.home')}</HeaderLink>
			<HeaderLink href="/about">{t('nav.about')}</HeaderLink>
		</div>
		<div class="controls">
      <ThemeSelect />
      <LanguageSelect />
      <SocialLinks />
    </div>
	</nav>
</header>
<style>
  @import url("../styles/custom-media.css");

  header, nav, nav > * {
    height: var(--nav-height);
  }

	header {
    position: relative;
    z-index: 1;
    box-shadow: var(--box-shadow);
		border-bottom: 1px solid hsl(var(--color-gray-3));

    [data-theme="dark"] & {
      box-shadow: none;
    }
	}

  nav,
  nav > * {
    display: flex;
    align-items: center;
  }

  nav > * {
    flex: 1;
  }

	h2 {
		font-size: var(--h5-font-size);
	}

  a {
    display: inline-flex;
    align-items: center;
    height: 100%;
		padding: 0 1rem;
  }

  nav {
		justify-content: space-between;
	}

  .nav-links {
    justify-content: center;
  }

	.controls {
    justify-content: flex-end;
    gap: 0 0.5rem;
	}

  @media (--viewport-tablet) {
    header {
      box-shadow: none;
    }
  }

	@media (--viewport-mobile) {

    .nav-links {
      justify-content: flex-end;
    }
		.controls {
			display: none !important;
		}
	}
</style>
