---
import { useTranslations } from "../i18n/utils/use-translations";
import Icon from "./icon.astro";

interface Props {
  class?: string;
}

const { class: className, ...attrs } = Astro.props;
const t = useTranslations(Astro.currentLocale);
---
<div class={className} {...attrs}>
  <a href="https://github.com/imhonglu/" target="_blank">
    <span class="sr-only">{t('sr.social.github')}</span>
    <Icon name="github" />
  </a>
</div>
<style>
	a {
    display: inline-flex;
		padding: 1em;
	}
</style>
